<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Searching Gifs demo</title>
    <style>
        figure {
            display: inline-block;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <div class="search">
            <h3>Search Gifs: {{ searchTerm }}</h3>
            <input type="text" v-model='searchTerm' v-on:keyup.enter="getGiphys">
        </div>
        <figure v-for="gif in giphys" >
            <img v-bind:src="gif.images.original.url" width="300" height="250">
        </figure>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const app = new Vue({
            data: {
                searchTerm: '',
                api_key: '42ca750dbc1843ceb3246d19b7d2b907',
                base_url: 'http://api.giphy.com/v1/gifs/search?q=',
                giphys: []
            },
            methods: {
                // load gifs from api.giphy.com
                getGiphys() {
                    const api_url = this.base_url + this.searchTerm + '&api_key=' + this.api_key;
                    // browser fetch api 
                    fetch(api_url)
                        .then(res => res.json())
                        .then((payload) => {
                        // hint: drill to look for 'original image url' for the object
                        console.log(payload.data);
                        // giphys data avalilable for instance
                        app.giphys = payload.data;
                    });
                }
            }
            
        }).$mount('#app');
    </script>
</body>
</html>